   <nav class="navbar shadow  bg-white mx-auto">
      <div class="container-fluid">
        <button id="menu-toggle" class="btn btn-light rounded">
          <span class="material-icons  fs-1">menu</span>
        </button>

        <span class=""><span class="material-icons">qr_code</span>Lectures</span>

        <span class="clickable"><span class="material-icons">face</span>{{request.user.first_name}}</span>
       
        

      </div>

     
  
    </nav>

    <div style="height: 10rem;" class="container-fluid pt-3 rounded-bottom bg-secondary shadow">
      <div class="h3 text-white">{{title}}</div>
    </div>

    
  